.game_table {
    // width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    
    tr {
        
        td {
            border: 7px solid #607D8B;
            width: 150px;
            height: 150px;
            font-size: 60px;
            text-align: center;
            font-weight: bold;

            color: #FF5722;
            transition: all .5s;
            cursor: pointer;

            &:hover {
                background-color: #b0c3cc;
            }
            &:active{
                background-color: #FF5722;
            }
        }
    }
}

.turn-shower {
    margin-top: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    span {
        flex: 1;

        // background-color: #FF5722;
        background: transparent;
        color:#FF5722;
        padding: 10px;
        border-radius: 100px;
        text-align: center;
        transition: all .3s ease-in-out;

        &.active {
            background-color: #FF5722;
            color: white;
        }
    }

}

.modal-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .modal {
        background-color: white;
        padding: 30px;
        text-align: center;
        border-radius: 5px;
    }
}